process{
	executor = "slurm"
	//clusterOptions = "-A $params.project"

	withName:'FASTQC'{
		time = 30.m
		cpus = 2		
	}

	withName:'FLASH2'{
                time = 30.m
                cpus = 2
        }

	withName:'MULTIQC'{
		time = 30.m
		cpus = 1
	}

	withName:'BOWTIE2'{
		time = 30.m
		cpus = 1
	}

	withName:'KRAKEN'{
                time = 30.m
                cpus = 1
		memory = 96.GB        
}
}

resume = true
// I like to set the working directory, but you can also have it as the default, which is a directory called "work" in your current directory.
workDir = '/proj/applied_bioinformatics/users/x_libja/MedBioinfo/nextflow'
singularity.enabled = true
// if singularity wasn't enabled, we would have to use conda, which is installed on tetralith
conda.enabled = true
conda.useMamba = true

